params {
    assembler   = "megahit"

    max_memory  = '8.GB'
    max_cpus    = 8
    max_time    = '12.h'
}

process {

    withName: FASTQC {
        ext.args = '--quiet'
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: FASTP {
        ext.args = "--detect_adapter_for_pe -p -n 1 -l 30 -5 -W 4 -M 20 -r -c -g -x"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }
    
    withName: SPADES {
        ext.args = "--metaviral"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }
}